@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e1e2e1;
}

.test {
  color: #25a1db;
}

.no-text-decoration {
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------ */

.input-indicator {
  position: relative;
  width: 2px;
  height: 80%;
  background-color: black;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
